<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1057693721951-h15tf8t01ftn174qhjpm3qfl7sir0ok9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1057693721951-h15tf8t01ftn174qhjpm3qfl7sir0ok9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1057693721951-4loa00v0gp5hlo364au8jcvq1ggoovb4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDm0X2bOxOjtTU8h1lH78UVjF-vdq5H1f4</string>
	<key>GCM_SENDER_ID</key>
	<string>1057693721951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ceolx.app.staging</string>
	<key>PROJECT_ID</key>
	<string>ceolx-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>ceolx-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1057693721951:ios:8691b5ea70e9f8ff4a02ea</string>
</dict>
</plist>